#content-body a {
  background-color: transparent;
}

#content-body a:active,
#content-body a:hover {
  outline-width: 0;
}

#content-body strong {
  font-weight: inherit;
}

#content-body strong {
  font-weight: 600;
}

#content-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#content-body img {
  border-style: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#content-body code,
#content-body kbd,
#content-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

#content-body input {
  font: inherit;
  margin: 0;
}

#content-body input {
  overflow: visible;
}

#content-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

#content-body * {
  box-sizing: border-box;
}

#content-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#content-body a {
  color: #AAA;
  text-decoration: none;
  border-bottom: 1px dotted plum;
}

#content-body a:hover {
  color: #f4f4f4;
  border-bottom: 1px solid plum;
}

#content-body strong {
  font-weight: 600;
}

#content-body hr {
  box-sizing: content-box;
  overflow: hidden;
  margin: 24px 0;
  padding: 0;
  border: 0;
  height: 0.25em;
  background-color: #4b3968;
}

#content-body hr::before {
  display: table;
  content: "";
}

#content-body hr::after {
  display: table;
  clear: both;
  content: "";
}

#content-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

#content-body td,
#content-body th {
  padding: 0;
}

#content-body h1,
#content-body h2,
#content-body h3,
#content-body h4,
#content-body h5,
#content-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

#content-body h1 {
  font-size: 32px;
  font-weight: 600;
}

#content-body h2 {
  font-size: 24px;
  font-weight: 600;
}

#content-body h3 {
  font-size: 20px;
  font-weight: 600;
}

#content-body h4 {
  font-size: 16px;
  font-weight: 600;
}

#content-body h5 {
  font-size: 14px;
  font-weight: 600;
}

#content-body h6 {
  font-size: 12px;
  font-weight: 600;
}

#content-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

#content-body blockquote {
  margin: 0;
}

#content-body ul,
#content-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#content-body ol ol,
#content-body ul ol {
  list-style-type: lower-roman;
}

#content-body ul ul ol,
#content-body ul ol ol,
#content-body ol ul ol,
#content-body ol ol ol {
  list-style-type: lower-alpha;
}

#content-body dd {
  margin-left: 0;
}

#content-body code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

#content-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

#content-body .octicon {
  vertical-align: text-bottom;
}

#content-body .pl-0 {
  padding-left: 0 !important;
}

#content-body .pl-1 {
  padding-left: 4px !important;
}

#content-body .pl-2 {
  padding-left: 8px !important;
}

#content-body .pl-3 {
  padding-left: 16px !important;
}

#content-body .pl-4 {
  padding-left: 24px !important;
}

#content-body .pl-5 {
  padding-left: 32px !important;
}

#content-body .pl-6 {
  padding-left: 40px !important;
}

#content-body::before {
  display: table;
  content: "";
}

#content-body::after {
  display: table;
  clear: both;
  content: "";
}

#content-body>*:first-child {
  margin-top: 0 !important;
}

#content-body>*:last-child {
  margin-bottom: 0 !important;
}

#content-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#content-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

#content-body .anchor:focus {
  outline: none;
}

#content-body p,
#content-body blockquote,
#content-body ul,
#content-body ol,
#content-body dl,
#content-body table,
#content-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

#content-body blockquote {
  padding: 0 1em;
  color: #AAA;
  border-left: 0.25em solid #4b3968;
}

#content-body blockquote>:first-child {
  margin-top: 0;
}

#content-body blockquote>:last-child {
  margin-bottom: 0;
}

#content-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

#content-body mark {
  padding: 0 3px;
  border-radius: 3px;
  background-color: plum;
}

#content-body h1,
#content-body h2,
#content-body h3,
#content-body h4,
#content-body h5,
#content-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#content-body h1 .octicon-link,
#content-body h2 .octicon-link,
#content-body h3 .octicon-link,
#content-body h4 .octicon-link,
#content-body h5 .octicon-link,
#content-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

#content-body h1:hover .anchor,
#content-body h2:hover .anchor,
#content-body h3:hover .anchor,
#content-body h4:hover .anchor,
#content-body h5:hover .anchor,
#content-body h6:hover .anchor {
  text-decoration: none;
}

#content-body h1:hover .anchor .octicon-link,
#content-body h2:hover .anchor .octicon-link,
#content-body h3:hover .anchor .octicon-link,
#content-body h4:hover .anchor .octicon-link,
#content-body h5:hover .anchor .octicon-link,
#content-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

#content-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #4b3968;
  letter-spacing: 1px;
}

#content-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #4b3968;
  letter-spacing: 1px;
}

#content-body h3 {
  font-size: 1.25em;
}

#content-body h4 {
  font-size: 1em;
}

#content-body h5 {
  font-size: 0.875em;
}

#content-body h6 {
  font-size: 0.85em;
}

#content-body ul,
#content-body ol {
  padding-left: 2em;
}

#content-body ul ul,
#content-body ul ol,
#content-body ol ol,
#content-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#content-body li {
  word-wrap: break-all;
}

#content-body li>p {
  margin-top: 16px;
}

#content-body li+li {
  margin-top: 0.25em;
}

#content-body dl {
  padding: 0;
}

#content-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#content-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#content-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

#content-body table th {
  font-weight: 600;
}

#content-body table th,
#content-body table td {
  padding: 6px 13px;
  border: 1px solid #c9c9c9;
}

#content-body img {
  max-width: 100%;
  box-sizing: content-box;
}

#content-body img[align=right] {
  padding-left: 20px;
}

#content-body img[align=left] {
  padding-right: 20px;
}

#content-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}

#content-body pre {
  word-wrap: normal;
}

#content-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#content-body .highlight {
  margin-bottom: 16px;
}

#content-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#content-body .highlight pre,
#content-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}

#content-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#content-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

#content-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

#content-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

#content-body .task-list-item {
  list-style-type: none;
}

#content-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

#content-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}


#content-body .card {
  margin: 0 auto;
}
#content-body .card .card-body,
#content-body .card .card-header {
  text-align: center;
  background-color: #FFFFFF22;
}
#content-body .card .card-link {
  color: white;
  font-size: 14px;
}
