/* General */
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  background-color: #271f34;
  background: linear-gradient(133deg, rgba(0,0,0,1) 0%, rgba(39,31,52,1) 35%, rgba(39,31,52,1) 65%, rgba(0,0,0,1) 100%);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100vh;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #F4F4F4;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #707070;
  border-bottom: 1px dotted plum;
  text-decoration: none;
}

a:visited {
  color: #707070;
}

a:hover {
  color: white;
  border-bottom: 1px solid plum;
}

a:active {
  color: #707070;
}

/* Avatar */
.avatar {
  flex-grow: 1;
  position: relative;
  height: 150px;
  width: 150px;
}

.avatar img {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10%;
}

.avatar-cut {
  opacity: 0.8;
  clip-path: circle(75px at center);
  -webkit-clip-path: circle(75px at center);
}

/* Header */
header .author {
  color: #CCC;
  border-bottom: none;
}

/* Footer */
footer {
  font-size: 12px;
  box-sizing:border-box;
  height: 20px;
  color: #777;
}
footer a:link, footer a:hover{
  border-bottom: none;
}

/* Top page */
#profileContainer {
  min-height: calc(100vh - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile {
  max-width: 600px;
  width: 150px;
}

/* Nav Buttons */
.nav-buttons {
  position: fixed;
  z-index: 1;
  top: 30px;
  left: 5%;
}
.nav-buttons nav ul {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  height: 24px;
}
.nav-buttons nav li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}
.nav-buttons nav li a {
  border-bottom: none;
  height: 22px;
  width: 22px;
}
.svg-menu-item {
  fill: #777;
  width: 22px;
  height: 22px;
}
.svg-menu-item:hover {
  fill: #fff;
}

/* Pulse button */
.pulse-button {
  position: fixed;
  top: 28px;
  right: 5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse-button a:link {
  border-bottom: none;
  height: 24px;
}
@keyframes breath {
  0% {
      opacity: 1;
  }
  40%,60% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.svg-pulse {
  fill: #FFF;
  height: 24px;
  animation: breath 2s;
  animation-iteration-count: infinite;
}
.svg-pulse:hover {
  animation: none;
}

/* Info */
.info-container {
  width: 100%;
  margin: 0px auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.info-container .info-list {
  display: block;
  height: 130px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 75%;
  text-align: center;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.info-container .info-list .info {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px
}
.info-container .info-list .info-link-extra,
.info-container .info-list .info-link {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.info-container .info-list .info .info-link a {
  color: #fff;
}
.info-container .info-list .info .info-link-extra a {
  border-bottom: none;
  font-size: 16px;
}
.svg-icon {
  fill: #FFF;
  height: 18px;
}

/* Contents List */
.list-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
}

#searchBox {
  position: relative;
  max-width: 300px;
  height: 30px;
  margin: 20px auto;
  width: 100%;
}

#searchBox #searchBoxInput {
  position: absolute;
  width: 100%;
  height: 30px;
  padding: 0 35px 0 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  outline: 0;
  font-size: 15px;
  color: #707070;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  box-sizing: border-box;
}

#searchBox #searchBoxInput::placeholder {
  color: #c9c9c9;
}

#searchBox #searchBoxIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 10px;
}

#searchResults {
  display: none;
  position: absolute;
  max-width: 600px;
  /* min-width: 300px; */
  margin: 0 auto;
  top: 55%;
  left: 0;
  right: 0;
  padding: 5px;
  background-color:#f6f6f6;
  border: 1px solid plum;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
  z-index: 1;
}

#searchResults .searchResultPage {
  padding: 20px
}

#searchResults .searchResultTitle {
  font-weight: 600;
  margin: 5px 0;
}

#searchResults .searchResultBody {
  font-size: 14px;
  color: #271f34dd;
}

#searchResults mark {
  background-color: #DDA0DD30;
}

#searchResults a{
  color: #271f34;
}

#contents-list {
  padding: 20px 0;
}

#contents-list a{
  color: #CCC;
}
#contents-list a:hover {
  color: #FFF;
}

#contents-list hr.separator {
  width: 10px;
  margin: 30px auto;
  border: solid 1px #c9c9c9;
}

#contents-list .section {
  line-height: 0.5;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
  color: #AAA;
}
#contents-list .section span {
  display: inline-block;
  position: relative;
}
#contents-list p {
  margin-bottom: 10px;
}
#contents-list .section span:before,
#contents-list .section span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 200%;
}
#contents-list .section span:before {
  right: 100%;
  margin-right: 15px;
}
#contents-list .section span:after {
  left: 100%;
  margin-left: 15px;
}

/* Page */
#content-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  text-align: left;
}

.svg-home {
  width: 1.2em;
  fill: #AAA;
}
.svg-home:hover {
  fill: #fff;
}

/* Breadcrumbs */
.breadcrumb {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}
.breadcrumb__list {
  padding: 0 0 .1rem 0;
  margin: 0;
  list-style: none;
  font-size: .8rem;
}
.breadcrumb__list__el {
  display: inline;
}
.breadcrumb__list__el + .breadcrumb__list__el::before {
  content: "/ "
}
a.breadcrumb__link {
  color: #AAA;
  display: inline-block;
  line-height: 0.90;
  border-bottom: 1px solid transparent;
}
a.breadcrumb__link:hover {
  border-bottom: 1px solid plum;
  color: #FFF;
}

/* To Top */
#to-top {
  display: block;
  z-index: 1;
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 5px 5px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  border-bottom: none;
}
#to-top:hover {
  cursor: pointer;
}
#to-top.show {
  opacity: 1;
  visibility: visible;
}
.svg-arrow-up {
  width: 1.5em;
  fill: #FFF;
}
.svg-arrow-up:hover {
  fill: plum;
}

/* Particles */
#mystic-network {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: -1;
}
#mystic-network  canvas {
  margin: 0;
  padding: 0;
  display: block;
}

/* 404 */
.page-404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-404 a{
  border-bottom: 0;
}
.page-404 a:hover{
  color: plum;
}
