<section class="breadcrumb">
  <ul class="breadcrumb__list">
    {{ if .Parent }}
      {{ template "breadcrumbnav" (dict "p1" .Parent "p2" .) }}
    {{ end }}
    {{ if not .IsHome }}
      <li class='breadcrumb__list__el'>{{- lower .Title -}}</li>
    {{ end }}
  </ul>
</section>


{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2) }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2) }}
  {{ end }}
  <li class="breadcrumb__list__el">
    <a class="breadcrumb__link" href="{{ .p1.Permalink }}">
      {{ if .p1.IsHome }}
        <svg class='svg-home' viewBox="100 100 1692 1492" xmlns="http://www.w3.org/2000/svg"><path d="M1472 992v480q0 26-19 45t-45 19h-384v-384h-256v384h-384q-26 0-45-19t-19-45v-480q0-1 .5-3t.5-3l575-474 575 474q1 2 1 6zm223-69l-62 74q-8 9-21 11h-3q-13 0-21-7l-692-577-692 577q-12 8-24 7-13-2-21-11l-62-74q-8-10-7-23.5t11-21.5l719-599q32-26 76-26t76 26l244 204v-195q0-14 9-23t23-9h192q14 0 23 9t9 23v408l219 182q10 8 11 21.5t-7 23.5z"/></svg>
      {{else}}
        {{- lower .p1.Title -}}
      {{end}}
    </a>
  </li>
{{ end }}
