<head>
  <title>
      {{ if eq .Title .Site.Title }}
          {{ .Site.Title }}
      {{ else }}
          {{ .Title }} - {{ .Site.Title }}
      {{ end }}
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Author }}" />

  <!-- favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#271f34">
  <meta name="msapplication-TileColor" content="#271f34">
  <meta name="theme-color" content="#271f34">

  <!-- css -->
  {{ $style := resources.Get "css/style.css" }}
  {{ $markdown := resources.Get "css/markdown.css" }}
  {{ $syntaxHighlight := resources.Get "css/syntax-highlight.css" }}
  {{ $css := slice $style $markdown $syntaxHighlight | resources.Concat "style.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300,600&display=swap">
  {{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ . }}">
  {{ end }}

  {{/* NOTE: These Hugo Internal Templates can be found starting at https://github.com/gohugoio/hugo/tree/master/tpl/tplimpl/embedded/templates */}}
  {{- template "_internal/opengraph.html" . -}}
  {{- template "_internal/google_news.html" . -}}
  {{- template "_internal/schema.html" . -}}
  {{- template "_internal/twitter_cards.html" . -}}

  <!-- Polyfill for old browsers -->
  {{ `<!--[if lte IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.1.20170427/classList.min.js"></script>
  <![endif]-->` | safeHTML }}

  {{ `<!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->` | safeHTML }}
</head>
