{{ $jquery := resources.Get "js/jquery-3.3.1.min.js" }}
{{ $mark := resources.Get "js/jquery.mark.es6.min.js" }}
{{/* $lunr := resources.Get "js/lunr.js" */}}
{{/* $search := resources.Get "js/search.js" */}}
{{ $mark := resources.Get "js/jquery.mark.es6.min.js" }}
{{ $particles := resources.Get "js/particles.min.js" }}
{{ $home := resources.Get "js/page-home.js" }}
{{ $single := resources.Get "js/page-single.js" }}
{{ $js := slice $jquery $mark $particles $home $single | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink }}"></script>
{{- range .Site.Params.custom_js -}}
  <script src="{{ . }}"></script>
{{ end }}
