  <div id="searchBox">
    <input type="text" id="searchBoxInput" placeholder="Buscar..." />
    <img id="searchBoxIcon" src="{{ .Site.BaseURL }}/img/search.png" />
  </div>
  <div id="searchResults"></div>
