<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <div class="page-404">
      <div>
        <h1>Los confines del universo terminan en <a href="{{ .Site.BaseURL }}">ti</a>.</h1>
      </div>
    </div>
  </body>
</html>
