<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="mystic-network"></div>
    <div class="nav-buttons">
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a target="_blank" href="{{ .URL }}" aria-label="{{ .Identifier }}">{{ .Pre }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="pulse-button">
      <a href="/lore" aria-label="Lore">
        <svg class="svg-pulse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M428 269c-21.5 0-40.6 13.1-48.4 33h-41.2L307 221.3c-2.7-8.2-10.3-13.7-19-13.7h-.4c-8.8.2-16.4 6-18.8 14.5l-33.6 135.4-55.5-291.8C178 55.6 169.6 48 160 48c-9.5 0-16.9 6.2-19.4 16.2L90.3 302H32v40h74c9.2 0 17.2-6.2 19.4-15.2l30.7-160.6 54.1 282.1c1.5 8.8 8.9 15.1 18.6 15.7h1.2c9.3 0 16.9-5.3 19.2-13.5l40.2-162.9 15.5 40.7c2.7 8.2 10.3 13.7 19 13.7h56.4c8.3 19 27.1 31 47.6 31 13.9 0 26.9-5.6 36.8-15.8 9.8-10.1 15.2-23.3 15.2-37.2.1-28.6-22.7-51-51.9-51z"/></svg>
      </a>
    </div>
    <div id="profileContainer">
      <div class="avatar">
        <img class="avatar-cut" src="/img/{{ .Site.Params.avatar }}" alt="avatar">
        <img src="/img/avatar-border.svg" alt="avatar-border">
      </div>
      <h3>
        An anonymous way of express your sensations through a decentralized network, <br/> powered by open source code and blockchain technologies.
      </h3>
      <div class="info-container">
        <ul class="info-list">
          
          <li class='info'>
            <div class="info-link">
              <svg class="svg-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="m12 0-10.392 6v12l10.392 6 10.392-6v-12zm-1.073 1.445h.001a1.8 1.8 0 0 0 2.138 0l7.534 4.35a1.794 1.794 0 0 0 0 .403l-7.535 4.35a1.8 1.8 0 0 0 -2.137 0l-7.536-4.35a1.795 1.795 0 0 0 0-.402zm10.397 5.955c.109.08.226.147.349.201v8.7a1.8 1.8 0 0 0 -1.069 1.852l-7.535 4.35a1.8 1.8 0 0 0 -.349-.2l-.009-8.653a1.8 1.8 0 0 0 1.07-1.851zm-18.648.048 7.535 4.35a1.8 1.8 0 0 0 1.069 1.852v8.7c-.124.054-.24.122-.349.202l-7.535-4.35a1.8 1.8 0 0 0 -1.069-1.852v-8.7c.124-.054.24-.122.35-.202z"/></svg>
              <a href="https://emeks-studio.github.io/dsensum/">Decentralized application</a>
            </div>
          </li>
          <li class='info'>
            <div class="info-link">
              <svg class="svg-icon" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"> <path d="M83.012,17.5c0-0.527-0.271-0.99-0.682-1.258L66.477,2.637c-0.15-0.129-0.324-0.211-0.505-0.271C65.709,2.141,65.373,2,65,2 H18.5C17.671,2,17,2.671,17,3.5v93c0,0.828,0.671,1.5,1.5,1.5h63c0.828,0,1.5-0.672,1.5-1.5V18c0-0.067-0.011-0.13-0.02-0.195 C83.001,17.707,83.012,17.604,83.012,17.5z M20,95V5h44v12.5c0,0.829,0.672,1.5,1.5,1.5H80v76H20z"/> <path d="M69,31H31c-0.552,0-1-0.448-1-1s0.448-1,1-1h38c0.553,0,1,0.448,1,1S69.553,31,69,31z"/> <path d="M69,45H31c-0.552,0-1-0.448-1-1s0.448-1,1-1h38c0.553,0,1,0.448,1,1S69.553,45,69,45z"/> <path d="M69,57H31c-0.552,0-1-0.447-1-1s0.448-1,1-1h38c0.553,0,1,0.447,1,1S69.553,57,69,57z"/> <path d="M69,71H31c-0.552,0-1-0.447-1-1s0.448-1,1-1h38c0.553,0,1,0.447,1,1S69.553,71,69,71z"/></svg>
              <a href="https://github.com/emeks-studio/sensum/wiki">Protocol (in)formal specification </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    {{- partial "footer.html" . -}}
    {{ partial "scripts.html" . }}
    <script>
      startParticles();
      startQuotes();
    </script>
  </body>
</html>
