{{ define "main"}}
  <main class="list-main">
    {{ partial "header.html" . }}
    <div id="contents-list">
      {{ $listPageDateFormat := .Site.Params.listPageDateFormat | default "January, 2006"}}
      {{ range $index, $value := .Pages.GroupBy "Section" }}
        {{ if (ne $index 0) }}
          <hr class="separator">
        {{ end }}
        <p class="section"><span>{{ humanize .Key }}</span></p>
        {{ range sort .Pages "Date"}}
          <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
        {{ end }}
      {{ end }}
    </div>
  </main>
  {{ partial "scripts.html" . }}
{{ end }}
