{{ define "main"}}
  {{ partial "breadcrumb.html" . }}
  <h1>{{ .Title }}</h1>
  {{ $singlePageDateFormat := .Site.Params.singlePageDateFormat | default "2 . 1 . 2006"}}
  <p class="date">{{ .Date.Format $singlePageDateFormat }}</p>
  <div id="content-body">
    {{ .Content }}
  </div>
  <a href="#" id="to-top"><svg class="svg-arrow-up" viewBox="0 100 1792 1692" xmlns="http://www.w3.org/2000/svg"><path d="M1675 971q0 51-37 90l-75 75q-38 38-91 38-54 0-90-38l-294-293v704q0 52-37.5 84.5t-90.5 32.5h-128q-53 0-90.5-32.5t-37.5-84.5v-704l-294 293q-36 38-90 38t-90-38l-75-75q-38-38-38-90 0-53 38-91l651-651q35-37 90-37 54 0 91 37l651 651q37 39 37 91z"/></svg></a>
  {{ partial "scripts.html" . }}
  <script>
    startToTop();
  </script>
{{ end }}
